body {
  background-color: #0a192f;
  box-sizing: border-box;
}

/*-----------------------------------------------------------------------------------*/
/*  Navbar
/*-----------------------------------------------------------------------------------*/

.navbar .shadow-lg {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}

.navbar {
  position: fixed;
  padding-right: 50px;
  background-color: #0a192f !important;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.brand-logo {
  height: 50px;
  width: 42px;
  padding-left: 50px;
}

sticky-top .btn {
  margin-left: 10px;
}

#number-color {
  color: #64ffda;
}

#intro-text-1 {
  padding-top: 100px;
  color: #64ffda;
}

.nav-item {
  font-size: 13px;
  line-height: 17px;
}

.jumbotron {
  padding-top: 150px;
  padding-left: 150px;
  background-color: #0a192f;
}

.jumbotron .lead .first-text {
  background-color: #64ffda !important;
}

.container {
  color: #64ffda;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

.container .display-4 {
  color: #ccd6f6;
  font-style: normal;
  font-weight: 600;
  font-size: 80px;
  line-height: 88px;
}

.container .display-3 {
  color: #8892b0;
  font-style: normal;
  font-weight: 600;
  font-size: 80px;
  line-height: 88px;
}

.container .lead {
  color: #8892b0;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  padding-top: 30px;
  padding-bottom: 50px;
  padding-right: 600px;
}

/*--------------------------------------------------------------
# Header Sidebar
--------------------------------------------------------------*/
#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9997;
  transition: all 0.5s;
  padding: 15px;
  overflow-y: auto;
}

@media (max-width: 992px) {
  #header {
    width: 300px;
    background: #fff;
    border-right: 1px solid #e6e9ec;
    left: -300px;
  }
}

@media (min-width: 992px) {
  #main {
    margin-left: 100px;
  }
}

.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
}

.nav-menu a {
  display: flex;
  align-items: center;
  color: #45505b;
  padding: 10px 18px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 15px;
  border-radius: 50px;
  background: #f2f3f5;
  height: 56px;
  width: 100%;
  overflow: hidden;
  transition: 0.3s;
}

.nav-menu a i {
  font-size: 20px;
}

.nav-menu a span {
  padding: 0 5px 0 7px;
  color: #45505b;
}

@media (min-width: 992px) {
  .nav-menu a {
    width: 56px;
  }

  .nav-menu a span {
    display: none;
    color: #fff;
  }
}

.nav-menu a:hover,
.nav-menu .active > a,
.nav-menu li:hover > a {
  color: #fff;
  background: #0563bb;
}

.nav-menu a:hover span,
.nav-menu .active > a span,
.nav-menu li:hover > a span {
  color: #fff;
}

.nav-menu a:hover,
.nav-menu li:hover > a {
  width: 100%;
  color: #fff;
}

.nav-menu a:hover span,
.nav-menu li:hover > a span {
  display: block;
}

/*-----------------------------------------------------------------------------------*/
/*  About
/*-----------------------------------------------------------------------------------*/
#about {
  padding-top: 500px;
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: 200px;
  width: 100%;
  height: auto;
  background: #0a192f;
  padding-top: 120px;
}

.paddsection {
  padding-top: 90px;
  padding-bottom: 90px;
}

.paddsections {
  padding-top: 90px;
  padding-bottom: 90px !important;
}

#about .div-img-bg {
  padding-bottom: 30px;
  border: 5px solid #64ffda;
}

#about .div-img-bg .about-img img {
  width: 100%;
  box-shadow: 0px 0px 85px 0px rgba(0, 0, 0, 0.14);
  margin-top: -60px;
  margin-left: 40px;
  height: 400px;
  object-fit: cover;
}

#about .about-description .p-heading {
  font-family: 'Playfair Display', serif;
  font-size: 28px;
  text-align: left;
  color: #ccd6f6;
}

#about .about-description .separator {
  max-width: 80%;
  margin-bottom: 0;
  text-align: left;
  color: #8892b0;
}

/*-----------------------------------------------------------------------------------*/
/*  Educational Background 
/*-----------------------------------------------------------------------------------*/
.resume {
  font-weight: 700;
  font-size: 26px;
  margin-top: 20ox;
  margin-bottom: 20px;
  color: #3b434a;
  padding-top: 150px;
  padding-bottom: 200px;
}

.resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid #82909c;
  position: relative;
}

.resume .resume-item h4 {
  line-height: 18px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffb727;
  margin-bottom: 10px;
}

.resume .resume-item h5 {
  font-size: 16px;
  background: #1a538b;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}

.resume .resume-item:last-child {
  padding-bottom: 0;
}

.resume .resume-item::before {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #fff;
  border: 2px solid #82909c;
}

/*--------------------------------------------------------------
# work
--------------------------------------------------------------*/
#work {
  padding-bottom: 150px;
}
.work .icon-box {
  text-align: center;
  padding: 70px 20px 80px 20px;
  transition: all ease-in-out 0.3s;
  background: #172a45;
  box-shadow: 0px 5px 90px 0px rgba(110, 123, 131, 0.05);
}

.work .icon-box .icon {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease-in-out 0.3s;
  position: relative;
}

.work .icon-box .icon i {
  font-size: 36px;
  transition: 0.5s;
  position: relative;
}

.work .icon-box .icon svg {
  position: absolute;
  top: 0;
  left: 0;
}

.work .icon-box .icon svg path {
  transition: 0.5s;
  fill: #f5f5f5;
}

.work .icon-box h4 {
  font-weight: 600;
  margin: 10px 0 15px 0;
  font-size: 22px;
}

.work .icon-box h4 a {
  color: #45505b;
  transition: ease-in-out 0.3s;
}

.work .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.work .icon-box:hover {
  border-color: #fff;
  box-shadow: 0px 0 35px 0 rgba(0, 0, 0, 0.08);
}

.work .iconbox-blue i {
  color: #47aeff;
}

.work .iconbox-blue:hover .icon i {
  color: #fff;
}

.work .iconbox-blue:hover .icon path {
  fill: #47aeff;
}

.work .iconbox-orange i {
  color: #ffa76e;
}

.work .iconbox-orange:hover .icon i {
  color: #fff;
}

.work .iconbox-orange:hover .icon path {
  fill: #ffa76e;
}

.work .iconbox-pink i {
  color: #e80368;
}

.work .iconbox-pink:hover .icon i {
  color: #fff;
}

.work .iconbox-pink:hover .icon path {
  fill: #e80368;
}

.work .iconbox-yellow i {
  color: #ffbb2c;
}

.work .iconbox-yellow:hover .icon i {
  color: #fff;
}

.work .iconbox-yellow:hover .icon path {
  fill: #ffbb2c;
}

.work .iconbox-red i {
  color: #ff5828;
}

.work .iconbox-red:hover .icon i {
  color: #fff;
}

.work .iconbox-red:hover .icon path {
  fill: #ff5828;
}

.work .iconbox-teal i {
  color: #11dbcf;
}

.work .iconbox-teal:hover .icon i {
  color: #fff;
}

.work .iconbox-teal:hover .icon path {
  fill: #11dbcf;
}

/* ======= FOOTER ======= */

footer {
  color: #fff;
  background-color: #0a192f;
  padding-top: 50px;
}

footer h3 {
  font-weight: 300;
}

ul.social-buttons li a {
  display: block;
  width: 50px;
  height: 50px;
  font-size: 24px;
  line-height: 50px;
  outline: 0;
  color: rgba(255, 255, 255, 0.8);
  background: #333;
  /*border-radius: 50%;*/
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

@media screen and (max-width: 480px) {
  ul.social-buttons li a {
    display: block, flex;
    width: 40px;
    height: 40px;
    font-size: 20px;
    line-height: 40px;
    outline: 0;
    color: rgba(255, 255, 255, 0.8);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
}

@media screen and (max-width: 340px) {
  ul.social-buttons li a {
    width: 37px;
    height: 37px;
  }
}

ul.social-buttons li a:hover,
ul.social-buttons li a:active {
  color: #fff;
  -webkit-box-shadow: 1px 1px 3px #333;
  -moz-box-shadow: 1px 1px 3px #333;
  box-shadow: 1px 1px 3px #333;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

.list-inline > li {
  padding: 0px !important;
}

#facebook,
#twitter,
#linkedin,
#codepen,
#github {
  /*border: 1px solid #fff !important;*/
}

#facebook:hover {
  background-color: #3b5998;
}

#twitter:hover {
  background-color: #55acee;
}

#codepen:hover {
  background-color: #fff;
  color: #000;
}

#linkedin:hover {
  background-color: #0077b5;
}

#github:hover {
  background-color: #4183c4;
}

#to-top {
  transition: all 0.5s;
}

#to-top:hover {
  background-color: transparent;
  color: #fff;
  text-decoration: none;
}

#to-top img {
  width: 50px;
  padding: 5px;
  margin: 10px auto 0px;
}

#to-top-copy {
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  margin: 0 auto;
  opacity: 0;
}

.copyright {
  font-weight: 300;
  color: #aaa;
}

.copyright p {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  /*text-transform: uppercase;*/
}

@media screen and (max-width: 480px) {
  #to-top {
    margin-top: 0px;
  }

  .copyright {
    padding-top: 0px;
    margin-top: 0px;
  }
}

/*--------------------------------------------------------------
# Skills
--------------------------------------------------------------*/
#skills {
  padding-top: 150px;
  padding-bottom: 50px;
}
.skills .progress {
  height: 50px;
  display: block;
  background: none;
}

.skills .progress .skill {
  padding: 10px 0;
  margin: 0 0 6px 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  color: #45505b;
}

.skills .progress .skill .val {
  float: right;
  font-style: normal;
}

.skills .progress-bar-wrap {
  background: #f2f3f5;
}

.skills .progress-bar {
  width: 1px;
  height: 10px;
  transition: 0.9s;
  background-color: #0563bb;
}

/* ======= CONTACT ======= */

#contact {
  padding-top: 150px;
  padding-bottom: 70px;
  padding-left: 180px;
}

.email-icon {
  width: 100px;
  height: 100px;
  line-height: 100px;
  max-width: 100%;
  font-size: 55px;
  text-align: center;
  vertical-align: middle;
  position: relative;
  margin: 0 auto 10px;
}

#contact p {
  font-size: 16px;
  font-weight: 300;
  max-width: 450px;
  margin: 0 auto;
  color: #8892b0;
}

#contact #email-button {
  color: #64ffda;
  padding: 10px 20px;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  border-radius: 5px;
  border: 2px solid #64ffda;
}

#contact #email-button:hover {
  color: #fff;
  background: #64ffda;
  border: 2px solid #64ffda;
}

@media screen and (max-width: 480px) {
  #contact {
    padding: 15px 10px 50px;
  }
}
